.content {
  width: 40%;
  height: 100vh;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.input_section {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}

.result_section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 50px 0;
}

.cityInput {
  margin: auto;
  width: 70%;
  padding: 5px;
  border-radius: 3px;
}

.location {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.weather {
  font-family: 'Oswald', sans-serif;
}

.temp {
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
